/* style for <nav> */

nav {
  height: 120px;
  width: 100%;
  background-color:#4056A1;
  color: #FFFFFF;
  display: flex; /* use flexbox to align the content */
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em; /* padding adds 1.5em on both left and right */
  position: fixed; /* makes the navbar 'fixed' it will always be visible at the top of the screen, even if user scrolls*/
  top: 0; /* stick to the top of the viewport */
  z-index: 1000; /* ensure its above other elements when scrolling*/
}


.nav-left {
  flex: 1; /* push to the left*/
  text-align: left;
}

.nav-title {
  font-family: "Bungee", sans-serif;
  font-size: 2em;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

/* style for the 'write a new tweet' section */
.nav-tweet-btn {
  font-family: "Bungee", sans-serif;
  font-size: 1em;
  color: #FFFFFF;
}

.nav-arrow {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.nav-arrow i {
  font-size: 1em;
  margin-top: 5px; /* add space between the text and the icon */
}

@media (max-width: 767px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 1em;
  }

  .nav-right {
    margin-top: 10px; /* add spacing between title/write new tweet button*/
    align-items: center; /* center button*/
    flex-direction: column;
  }

  .nav-title {
    font-size: 1.5em;
  }
}